.table-containers {
  display: flex;
  justify-content:center;
  align-items: flex-start;
  margin: 5vh auto;
  width: 80%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  width: auto;
  margin-right: 10px; 
}

.table-wrapper {
  display: flex;
  flex-direction: space-between;
  gap: 15px;
  width: auto; 
  margin-left: 0; 
  align-items: stretch; 
}

.table-container {
  width: 100%; 
}

.table {
  border-radius: 20px;
  background-color: #fff;
  padding: 15px;
  margin: 0; 
  font-size: 0.95rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table td, .table th {
  background-color: transparent;
  padding: auto;
  margin: auto;
  text-align: center;
}

.docu {
  text-decoration: none;
}

.docu:hover {
  color: blue;
  text-decoration: underline;
}

.tbl-question td {
  padding: 2px; 
  margin: 0;
  text-align: left;
}

.tbl-question {
  border-radius: 20px;
  font-size: 1rem; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tbl-question a {
  margin: 0; 
}
