.table-containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5vh auto;
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: center; /* Center button */
  gap: 1rem; 
  margin-top: 10px; /* Add spacing above the button */
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.table {
  border-radius: 20px;
  background-color: #fff;
  padding: 15px;
  margin: 0; 
  font-size: 0.95rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.table td, .table th {
  background-color: transparent;
  padding: 10px; /* Adjust padding for better spacing */
  text-align: center;
}

.docu {
  text-decoration: none;
}

.docu:hover {
  color: blue;
  text-decoration: underline;
}

.tbl-question td {
  padding: 2px; 
  margin: 0;
  text-align: left;
}

.tbl-question {
  border-radius: 20px;
  font-size: 1rem; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tbl-question a {
  margin: 0; 
}

.yes {
  color: green;
}

.no {
  color: red;
}

/* New classes */
.job-post-form {
  display: flex;
  justify-content: center;
}

.form-label {
  font-weight: bold;
}

.custom-input-size {
  height: 45px;
}

.course-btn{
  width: 10vw;
  margin-right: 15px;
}