.table-container {
    width: 80%; /* Adjust this value as needed to make the table smaller */
    margin: 5vh auto; /* Center the table */
}

.table {
  border-radius: 20px;
  font-size: 0.95rem; /* Adjust the font size to make the table content smaller */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table td, .table th {
    padding: 0.5rem; /* Adjust padding to make cells smaller */
    text-align: center;
}

.docu{
  text-decoration: none;
}

.docu:hover{
  color: blue;
  text-decoration: underline;
}

/*upload modules*/
.upl-container {
    width: auto;
}

.upl-input{
    font-size: 1.2rem;
}

.module_container{
  width: auto;
  max-width: none; 
}

.tbl_module{
  background-color: transparent;
  border-radius: 0;
  font-size: 0.95rem; 
  box-shadow: none;
}

.tbl_module td, .tbl_module th {
  display: block;
  text-align: left;
  padding: 5px;
}

.upload-label{
  display: block;
  text-align: left;
}