.table-container {
    width: 80%; /* Adjust this value as needed to make the table smaller */
    margin: 5vh auto; /* Center the table */
}

.table {
  border-radius: 20px;
  font-size: 0.95rem; /* Adjust the font size to make the table content smaller */
}

.table td, .table th {
    padding: 0.5rem; /* Adjust padding to make cells smaller */
    text-align: center;
}

.docu{
  text-decoration: none;
}

.docu:hover{
  color: blue;
  text-decoration: underline;
}

.modal-container .modal-content{
  width: 100vw;
  max-width: auto; /* Adjust this value as needed to make the table smaller */
  margin: 5vh auto; /* Center the table */
}

.yes {
  color: green;
}

.no {
  color: red;
}

