
.icon{
    width: 50px;
    height: 50px;

}

table{
    border: 2px solid rgba(35, 32, 32, 0.78);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    table-layout: auto;
}

table td, table th {
    padding: 0; /* Adjust padding inside cells */
    border: 0; /* Optional: Border around cells */
}

.img_cell{
    width: 4vw;
    padding-left: 2vw;
}
.num_cell{
    text-align: right;
    width: 4vw;
    font-size: 2.2em;
    font-weight: 500;
}
.title_cell{
    text-align: left;
    width: 60vw;
    padding-left: 2vw;
    font-size: 2.2em;
    font-weight: 300;
}
.btn_cell, .btn {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    line-height: 20vh; 
    text-decoration: none;
    width: 15vw;
    color: #3498db; /* Initial text color */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for transform (zoom effect) */
    display: inline-block; /* Ensures the transform affects the text properly */
}

.btn_cell:hover, .btn:hover {
    color: #2980b9; /* Change text color on hover */
    transform: scale(1.1); /* Zoom text by 10% */
}


tr, td {
    text-align: center;
}

.btn-container {
    position: absolute;
    top: 38vh;
    left: 2.8vw;
}

.btn_back {
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    width: 15vw;
    color: #6c757d; /* Initial text color */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for transform (zoom effect) */
    display: inline-block; /* Ensures the transform affects the text properly */
}

.btn_back:hover, .btn_back:hover {
    color: #5a6268; /* Change text color on hover */
    transform: scale(1.1); /* Zoom text by 10% */
    background: none; /* Remove background color */
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: left;
    width: 80vw; /* Fixed width relative to viewport */
    height: 60vh; /* Fixed height relative to viewport */
    margin: auto; /* Center container horizontally */
    margin-left: 20vw;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.label {
    font-size: 2em;
    margin-bottom: 10px; /* Adjusted for better spacing */
    text-transform: capitalize;
    font-weight: 500;
    color: #333;
}

.info {
    font-size: calc(0.5em + 1vw); /* Adjust based on viewport width */
    font-weight: 400;
    color: #333;
    margin-top: 10px; /* Adjusted for spacing */
    width: 80%; /* Full width of the container */
    text-align: justify;
}

.divider {
    border-top: 5px solid #333;
    width: 80%; /* Stay within the container size */
    margin: 10px 0; /* Margin for spacing */
}

.container a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #2980b9;
    width: 20%;
    border: 0px solid #333;
    margin-bottom: 10px;
    padding: 10px;
}

