/* Modal styles */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Background overlay */
  z-index: 1000;
}
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  .closeBtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .seccloseBtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

  .thirdcloseBtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  /* Style the form inputs */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
  }
  
