/* Modal styles */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Background overlay */
  z-index: 1000;
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-container .modal-content{
  width: 100vw;
  max-width: auto; /* Adjust this value as needed to make the table smaller */
  margin: 5vh auto; /* Center the table */
}

.closBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  background: none;
  outline: none;
}

.closBtn:hover,
.closBtn:focus {
  color: red; /* Optional hover effect */
}


  /* Style the form inputs */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
  }
  
