.icon{
    width: 50px;
    height: 50px;

}

table{
    border: 2px solid rgba(35, 32, 32, 0.78);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    table-layout: auto;
}

table td, table th {
    padding: 0px; /* Adjust padding inside cells */
    border: 0; /* Optional: Border around cells */
}

tr, td {
    text-align: center;
}
td .label_1{
    padding: 0;
    font-size: 2.2em;
    font-weight: 500;
}