
.icon{
    width: 50px;
    height: 50px;

}

table{
    border: 2px solid rgba(35, 32, 32, 0.78);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    table-layout: auto;
}

table td, table th {
    padding: 0; /* Adjust padding inside cells */
    border: 0; /* Optional: Border around cells */
}

.img_cell{
    width: 4vw;
    padding-left: 2vw;
}
.num_cell{
    text-align: right;
    width: 4vw;
    font-size: 2.2em;
    font-weight: 500;
}
.title_cell{
    text-align: left;
    width: 60vw;
    padding-left: 2vw;
    font-size: 2.2em;
    font-weight: 300;
}
.btn_cell, .btn {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    line-height: 20vh; 
    text-decoration: none;
    width: 15vw;
    color: #3498db; /* Initial text color */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for transform (zoom effect) */
    display: inline-block; /* Ensures the transform affects the text properly */
}

.btn_cell:hover, .btn:hover {
    color: #2980b9; /* Change text color on hover */
    transform: scale(1.1); /* Zoom text by 10% */
}


tr, td {
    text-align: center;
}