body {
    margin: 0;
    opacity: 1;
    font-family: system-ui; 
    background: linear-gradient(to bottom, #EBEEF1 0%, #f8f9fa 30%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensures it fills the viewport height */
}

.h1, .ofw-h1 {
    width: 100%;
    text-align: center;
    color: #333;
    margin-top:-1vh;
}

.profile-icons,.profile-icon-employer, .profile-index {
    display: flex;            /* Use flexbox for layout */
    align-items: left;     /* Center items vertically */
	margin-right: 3vw;
}

.profile-icon, .profile-icon-employer, .profile-index, .notif-icon{
	width: 35px;  /* Adjust the width as needed */
	height: 35px; /* Adjust the height as needed */
	border-radius:50%;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.notif-icon img,.profile-icon img, .profile-icon-employer img {
	width: 100%;
	height: auto;
}


/* Custom popover size */
.popover {
	max-width: 8vw; /* Set your desired maximum width */
}

/* Custom popover styles */
.popover-header {
	background-color: #007bff; /* Bootstrap primary color or any color you choose */
	color: white; /* Text color for header */
	
}

.popover-body {
	background-color: white; /* Background color for body */
	color: #0a56a3; /* Text color for body */
	border-radius: 50%;
}
.link {
    text-decoration: none;
    font-size: 0.9rem;
	padding: 4.7px;
	line-height: 2.1em;
	letter-spacing: 0.1em;
    transition: font-size 0.2s; /* Smooth transition for the font size change */
}

.link:hover {
	letter-spacing: 0;
    font-size: 1.1rem; /* Increase the font size on hover */
}

.popover-arrow {
	display: none; /* Optional: hide the arrow if not needed */
}

td{
	width: -120vw;
	height: auto;
}
nav {
	position: sticky;
	top: 0;
	background-color: #fff;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	margin: auto;
	max-width: 100vw;
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	z-index: 1000; /* Keeps it above other content */
}



.logo {
	display: flex;
	align-items: center; 
	margin-bottom: 5px; 
}

.logo a {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	font-weight:400;
	margin-left:10px;
}

.logo img {
	width: 50px;
	height: 50px;
}
#offcanvasMenu.offcanvas-end {
    width: auto; 
}

#offcanvasMenuLabel.offcanvas-title{
	text-align: left;
}
.menu.active {
	transform: translateX(0);
	opacity: 1;
}

.menu td a {
	font-size: 1.5rem;
	padding: 10px;
	position: relative; /* Position relative for the link */
	transition: font-size 0.3s ease;
}
.menu td a:hover {
    font-size: calc(1.2em + 0.5em); /* Increase font size by 0.5em */
}
/* Underline on hover */
.menu td a:hover::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #C4C7CA; /* Color of the underline */
}

/* Active link effect */
.menu td a.active::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #333; /* Color of the underline */
}


.content {
	text-align: center;
	padding: 50px;
}
.burger {
	cursor: pointer;
	margin-left: 5vw;
}
.burger {
	position: absolute; 
	top: 50%;
	right: 20px; 
	transform: translateY(-50%); 
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #333;
	border-radius: 5px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

/* all */
.bcrumb-container{
	position: relative;
	  top: 0;
	  background-color: transparent;
	  color: #333;
	  display: flex;
	  justify-content:flex-start;
	  align-items: left;
	  padding: 20px 20px;
	  margin: auto;
	  margin-bottom: -5vh;
	  max-width: auto;
	  box-shadow: none;
	  border-radius: 0;
	  z-index: 1; 
  }
  
  /* Custom styles for the breadcrumb navigation */
  .breadcrumb {
	background-color: transparent; /* Remove default background */
	list-style: none; /* Remove default list styles */
  }
  
  /* Style for breadcrumb items */
  .breadcrumb-item {
	color: #007bff; /* Link color */
	font-weight: bold; /* Make the text bold */
  }
  
  /* Styling for active breadcrumb item */
  .breadcrumb-item.active {
	color: #6c757d; /* Color for the active item */
  }
  
  /* Custom hover state for breadcrumb links */
  .breadcrumb-item a {
	text-decoration: none; /* Remove underline */
	color: #0056b3; /* Custom link color on hover */
  }
  
  .breadcrumb-item a:hover {
	text-decoration: underline; /* Add underline on hover */
	color: #003865; /* Darker shade of link color */
  }