body {
    margin: 0;
    opacity: 1;
    font-family: system-ui; 
    background: linear-gradient(to bottom, #EBEEF1 0%, #f8f9fa 30%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensures it fills the viewport height */
}

.h1, .ofw-h1 {
    width: 100%;
    text-align: center;
    color: #333;
    margin-top:-1vh;
}

.profile-icons, .profile-index {
    display: flex;            /* Use flexbox for layout */
    align-items: center;     /* Center items vertically */
	margin-right: 3vw;
}

.notif-icon img,.profile-icon img {
	width: 100%;
	height: auto;
}

.profile-icon, .profile-index, .notif-icon{
	width: 35px;  /* Adjust the width as needed */
	height: 35px; /* Adjust the height as needed */
	border-radius:50%;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}

/* Custom popover size */
.popover {
	max-width: 100px; /* Set your desired maximum width */
	
}

/* Custom popover styles */
.popover-header {
	background-color: #007bff; /* Bootstrap primary color or any color you choose */
	color: white; /* Text color for header */
}

.popover-body {
	background-color: #f8f9fa; /* Background color for body */
	color: #0a56a3; /* Text color for body */
	font-size: 0.8rem; /* Adjust font size */
	padding: 6px;
	border-radius: 50%;
}
.link {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px;
    transition: font-size 0.2s; /* Smooth transition for the font size change */
}

.link:hover {
    font-size: 1.1rem; /* Increase the font size on hover */
}

.popover-arrow {
	display: none; /* Optional: hide the arrow if not needed */
}

td{
	width: -120vw;
	height: auto;
}
nav {
	position: relative;
	background-color: #ebede6;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo {
	display: flex;
	align-items: center; 
	margin-bottom: 5px; 
}

.logo a {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	font-weight:400;
	margin-left:10px;
}

.logo img {
	width: 50px;
	height: 50px;
}
#offcanvasMenu.offcanvas-end {
    width: auto; 
}

#offcanvasMenuLabel.offcanvas-title{
	text-align: left;
}
.menu.active {
	transform: translateX(0);
	opacity: 1;
}

.menu td a {
	font-size: 1.5rem;
	padding: 10px;
	position: relative; /* Position relative for the link */
	transition: font-size 0.3s ease;
}
.menu td a:hover {
    font-size: calc(1.2em + 0.5em); /* Increase font size by 0.5em */
}
/* Underline on hover */
.menu td a:hover::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #C4C7CA; /* Color of the underline */
}

/* Active link effect */
.menu td a.active::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #333; /* Color of the underline */
}

.content {
	text-align: center;
	padding: 50px;
}

.burger {
	cursor: pointer;
	margin-left: 5vw;
}

.auth a {
	color: #333;
	text-decoration: none;
	padding: 8px 16px;
	border: 1px solid #333;
	border-radius: 5px;
	margin-right:5vw;
}

.content {
	text-align: center;
	padding: 50px;
}

.burger {
	position: absolute; 
	top: 50%;
	right: 20px; 
	transform: translateY(-50%); 
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #333;
	border-radius: 5px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

