.container {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center; /* Centers the container vertically */
    height: auto; /* Makes sure the container takes up the full viewport height */
    margin-top: 10vh;
}
form {
    width: 50%; /* Width of the form */
    background-color: #f9f9f9; /* Optional: To make it stand out */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#chat-form input, #chat-form textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
}

input, textarea {
    width: 90%; /* Make inputs take full width of form */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input{
    font-family:inherit;
    font-size:16px;
    width: 15%;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    background-color: #EBEEF1;
    outline: 0;
    padding: 0.75rem 1rem;
    color: rgba(51, 51, 51, 1);
  }
  