
  .container-fluid {
    display: flex;
  }
  .scrollspy {
    width: 15vw;
    position: sticky;
    top: 10px;
    border-radius: 15px;
  }
  .form-content {
    display: flex;
    flex-grow: 1;
    padding-left: 30px;
    max-height: 80vh;
    overflow-y: auto;
  }
  .input-group {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  table {
    width: 100%;
  }
  .info {
    display: block;
    margin: 0;
    font-weight:600;
    font-size: 1.2em;
    color: #6b6969;
  }
  
  td {
    padding: 10px;
  }
  .nav-link{
    font-size: 2em;
    font-weight: 600;
    padding: 10px;
    
  }
  .nav-link.active {
    font-weight: bold;
    color: red;
  }
.outer-container {
max-width: auto; /* Adjust this value as needed */
margin: 0 auto;
padding: 20px;
}


