body {
	margin: 0;
	opacity: 1;
	font-family: system-ui;   
}
.fade-in {
	opacity: 0; /* Set opacity to 0 when the fade-out class is applied */
	transform: translateY(0);
	transform: translateY(-100px);
	transition: opacity 0.5s ease, transform 0.3s ease;
}
body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px); 
	z-index: -1; 
}
.profile-icons, .profile-index {
    display: flex;            /* Use flexbox for layout */
    align-items: center;     /* Center items vertically */
	margin-right: 3vw;
}

.profile-icon, .profile-index, .notif-icon{
	width: 35px;  /* Adjust the width as needed */
	height: 35px; /* Adjust the height as needed */
	border-radius:50%;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.notif-icon img,.profile-icon img {
	width: 100%;
	height: auto;
}


/* Custom popover size */
.popover {
	max-width: 100px; /* Set your desired maximum width */
	
}

/* Custom popover styles */
.popover-header {
	background-color: #007bff; /* Bootstrap primary color or any color you choose */
	color: white; /* Text color for header */
}

.popover-body {
	background-color: #f8f9fa; /* Background color for body */
	color: #0a56a3; /* Text color for body */
	font-size: 0.8rem; /* Adjust font size */
	padding: 6px;
	border-radius: 50%;
}
.link {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px;
    transition: font-size 0.2s; /* Smooth transition for the font size change */
}

.link:hover {
    font-size: 1.1rem; /* Increase the font size on hover */
}

.popover-arrow {
	display: none; /* Optional: hide the arrow if not needed */
}

td{
	width: -120vw;
	height: auto;
}
nav {
	position: relative;
	background-color: #EBEEF1;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo {
	display: flex;
	align-items: center; 
	margin-bottom: 5px; 
}

.logo a {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	font-weight:400;
	margin-left:10px;
}

.logo img {
	width: 50px;
	height: 50px;
}
#offcanvasMenu.offcanvas-end {
    width: auto; 
}

#offcanvasMenuLabel.offcanvas-title{
	text-align: left;
}
.menu.active {
	transform: translateX(0);
	opacity: 1;
}

.menu td a {
	font-size: 1.5rem;
	padding: 10px;
	position: relative; /* Position relative for the link */
	transition: font-size 0.3s ease;
}
.menu td a:hover {
    font-size: calc(1.2em + 0.5em); /* Increase font size by 0.5em */
}
/* Underline on hover */
.menu td a:hover::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #C4C7CA; /* Color of the underline */
}

/* Active link effect */
.menu td a.active::after {
    content: ''; /* Add content for the underline */
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the position to your preference */
    width: 100%;
    height: 2px;
    background-color: #333; /* Color of the underline */
}


.content {
	text-align: center;
	padding: 50px;
}
.burger {
	cursor: pointer;
	margin-left: 5vw;
}
.burger {
	position: absolute; 
	top: 50%;
	right: 20px; 
	transform: translateY(-50%); 
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #333;
	border-radius: 5px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}


/* body */
table {
	width: 100%;
	max-width: 100vw;
	margin-top: 4%;
	position: center;
}

td.whole {
	background-color: rgba(255, 255, 255, 0.8);
   	text-align: center;
    vertical-align: middle; 
	padding: 0;
}

.lbl_1{
	color: #0027CB;
	font-weight: 700;
	font-size: 5.5rem;
	line-height: 0rem;
}

.lbl_2{
    color: #6b6969;
    font-weight: 600;
    font-size: 2.5em;
	line-height: 4rem;
}

.lbl_3{
    color: #6b6969;
    font-weight: 600;
    font-size: 1em;
	letter-spacing: 5px;
}

.lbl_4{
	display: inline-block;
    position: relative;
    color: #333333;
    font-weight: 600;
    font-size: 5rem;
	top: -3vh;
	letter-spacing: -1px;
}

.lbl_4::after {
    content: '';
    position: absolute;
    left: -10px;           /* Adjust for extra space before the text */
    right: -10vw;          /* Adjust for extra space after the text */
    bottom: 0;
    height: 5px;           /* Thickness of the underline */
    background-color: #900B0E; /* Color of the underline */
}
.lbl_5, .lbl_6, .lbl_7, .lbl_8, textarea{
	top: -4vh;
	position: relative;
}
.lbl_5{
	margin-left: 8%;
}
.lbl_5, .lbl_7{
    color: #333333;
    font-weight: 600;
    font-size: 2.5rem;
	letter-spacing: -1px;
}

.lbl_6{
    color: #3D93D3;
    font-weight: 600;
    font-size: 2.5rem;
	letter-spacing: -1px;
}

.lbl_8{
    font-weight: 600;
    font-size: 1.2rem;
	letter-spacing: 2px;
	margin-left: -25%;
}

textarea {
	text-align: center;
	white-space: pre-wrap;
    border: none;                   /* Removes the border */
    background: transparent;         /* Makes the background transparent */
    outline: none;                   /* Removes the outline (on focus) */
    resize: none;                    /* Prevents resizing */
    overflow: hidden;                /* Hides the scrollbar */
    width: 100%;                 /* Optional: Make the textarea responsive */
    height: 100px;                   /* Set a specific height */
    color: #000;                     /* Text color (you can adjust this as needed) */
    font-size:  0.9rem;                 /* Adjust font size */
    padding: 10px;                   /* Optional: Adds padding inside the textarea */
	line-height: 1.5;
}

@media (min-width: 1920px) and (min-height: 1080px) {
    .lbl_8 {
        margin-left: -50%;
    }
}
